:root {
  --layout-width: 1627px;
  --page-first-last-headers: 49px/57px "Raleway", sans-serif;
  --icon-title: 20px "Raleway", sans-serif;
  --icon-text: 17px "Raleway", sans-serif;
  --article-headers: 36px/42px "Raleway", sans-serif;
  --article-text: 16px "Open Sans", sans-serif;
  --article-box-radius: 5px;
  --pricing-box-title: 20px "Raleway", sans-serif;
  --pricing-box-number: 50px/2px "Open Sans", sans-serif;
  --pricing-box-text: 14px/41px "Open Sans", sans-serif;
  --pricing-box-radius: 18px;
  --pricing-btn-radius: 23px;
  --blue: #08a6e4;
  --pink: #fb3b64;
  --green: #55DFB4;
}
